@model RecipeDetailViewModel
@{ 
    ViewData["Title"] = Model.Name; 
}

<h2>@Model.Name</h2>
<form asp-action="Delete" asp-route-id="@Model.Id">
    <p>
        @if(Model.CanEditRecipe)
        {
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        }
        <button class="btn btn-danger">Delete</button>
    </p>
</form>
<p>@Model.Method</p>

<dl>
    @foreach (var item in Model.Ingredients)
    {
        <dt>@item.Name</dt>
        <dd>@item.Quantity</dd>
    }
</dl>
